.idea
/module-1/ingestion_task/output.csv
/module-1/ingestion_task/ny_taxi_postgres_data/
/module-1/.env/
/module-1/ingestion_task/green_tripdata.csv
/module-1/ingestion_task/taxi_zone_lookup.csv
/module-1/ingestion_task/green_tripdata.csv.gz